{% extends "users/base.html" %}
{% block title %}Cerrar Sesión{% endblock title %}
{% block content %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">Usted ha sido desconectado</h5>
        <p class="card-text">
            Gracias por su tiempo, contácteme para cualquier comentario o sugerencia utilizando mi dirección de correo electrónico.
        </p>
        <br><hr><a href="{% url 'login' %}" class="btn btn-primary">Entrar otra vez</a>
        </div>
    </div>


{% endblock content %}