{% extends 'diezmo/base.html' %}

{% block content %}
    <h1 class="my-4">Detalles -
        <small class="data-capitalize">{{ object.fiel_id }}</small>
    </h1>
    <div class="row">
        <div class="col-12">
            <ul class="list-group">
              <li class="list-group-item"><strong>Fiel:</strong> <span class="data-capitalize">{{ object.fiel_id }}</span> </li>
              <li class="list-group-item"><strong>Monto:</strong> {{ object.monto }}</li>
              <li class="list-group-item"><strong>Año-Mes Correspondiente:</strong> {{ object.fecha_anio_mes }}</li>
              <li class="list-group-item"><strong>Fecha:</strong> {{ object.fecha }}</li>
            </ul>
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-12">
                <a href="/diezmo/edit/{{object.id}}"><button type="button" class="btn btn-success">Editar</button></a>
                <a href="/diezmo"><button type="button" class="btn btn-secondary">Atrás</button></a>
        </div>
    </div>

    <script>

        function capitalizeFirstLetter(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
        }

        let dataCapitalize = document.querySelectorAll('.data-capitalize')

        dataCapitalize.forEach((el)=>{{
            el.innerText = capitalizeFirstLetter(el.innerText.replaceAll('_',' '))
        }})
    </script>
{% endblock %}