{% extends 'historial/base.html' %}

{% block content %}

    <style>
        .table-limit{
            overflow-y:auto;
            height: 15rem;
        }
    </style>

    <h1 class="my-4">
        <small>Lista de Historial</small>
    </h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="row">
    {% if object_list %}
        <div class="col-4">
            <input id="searchInput" type="text" class="form-control" placeholder="buscar...">
        </div>
        <br>
        <br>
        <div class="col-12 table-limit" style="overflow-x: auto">
            <table class="table">
              <thead class="nav-color">
                <tr>
                    <th scope="col">Usuario</th>
                    <th scope="col">Accion</th>
                    <th scope="col">Fecha</th>
                </tr>
              </thead>
              <tbody class="">
                {% for data in object_list %}
                <tr>
                    <td>{{ data.usuario }}</td>
                    <td>{{ data.accion }}</td>
                    <td>{{ data.created }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    {% else %}
    <div class="col-12">
        <div class="alert alert-warning" role="alert">
            No hay registros, todavía... 
        </div>
    </div>
    {% endif %}
    </div>

    <script>
        let searchInput = document.querySelector('#searchInput');
        let dataTable = document.querySelectorAll('tr');

        searchInput.addEventListener('keyup',()=>{
            dataTable.forEach((el,i)=>{

                var elements = el.children
                var contTrue = 0

                if (i > 0) {

                    for (let index = 0; index < elements.length; index++) {
                        const element = elements[index];

                        if (element.innerText.toUpperCase().indexOf(searchInput.value.toUpperCase()) > -1) {
                            contTrue++
                        }
                    }
                    
                    if(contTrue > 0){
                        el.style.display = ''
                    }else{
                        el.style.display = 'none'
                    }
                }

            })
        })
    </script>

{% endblock %}